{% extends 'layout/base.html.twig' %}

{% block content %}
    <h3>Hospital</h3>
    <div class=floatright>
        <br><br><br>
        <img src='assets/images/photos/surgery.jpg' width=100 height=236 alt=Hospitalized>
        {% if data.user.hospital > 0 %}
            <p>
                &nbsp; <a href='raffle.php'>Play the Raffle</a><br>
                &nbsp; <a href='family.php?action=list'>Family Table</a><br>
                &nbsp; <a href='education.php'>Look for a Mentor</a><br>
                &nbsp; <a href='job.php'>Call your Boss</a><br>
                &nbsp; <a href='statistics.php'>Statistics</a><br>
                &nbsp; <a href='statisticsTopMafia.php'>Top Mafia</a><br>
                &nbsp; <a href='statisticsSpecial.php'>Special Gear</a><br>
            </p>
        {% endif %}
    </div>
    <br>
    <table width=80% class=table cellspacing=0 cellpadding=2 style='font-size:smaller;'>
        <tr>
            <th style='text-align:left;'>Mafioso</th>
            <th style='text-align:left;'>Reason</th>
            <th>Time</th>
            <th>Actions</th>
        </tr>
        {% for patient in data.patients %}
            <tr>
                <td>{{ patient.mafioso|raw }}</td>
                <td>{{ patient.reason|raw }}</td>
                <td class=center>{{ patient.time_remaining }}</td>
                <td class=center>
                    {% if data.user.hospital == 0 %}
                        <a title='{{ patient.cost }}' href='hospital.php?action=flowers&uid={{ patient.userid }}'>flower</a> &nbsp;&middot;&nbsp;
                        <a title='{{ patient.cost }}' href='hospital.php?action=laugh&uid={{ patient.userid }}'>laugh</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}